@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: grid;
  grid-template-rows: 30px 1fr 22px;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

header .titlebar-drag-region {
  width: 100%;
  height: 100%;
  position: relative;
  background: #332112;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

header .window-app-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: no-drag;
}

header .window-app-icon img {
  width: 20px;
  height: 20px;
}

header .window-title {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 14px;
  line-height: 30px;
  color: #ffe3cc;
  transform: translate(-50%);
}

header .window-control-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
}

header .window-control-container .window-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  opacity: 0.8;
}

header .window-control-container .window-control-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

header .window-control-container .window-control-btn img {
  width: 16px;
  height: 16px;
}

header .window-control-container #window-min-btn {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

header .window-control-container #window-max-btn, header .window-control-container #window-restore-btn {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

header .window-control-container #window-restore-btn {
  display: none;
}

header .window-control-container #window-close-btn {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

header .window-control-container #window-close-btn:hover {
  background: orangered;
}

main {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

main #app-start-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

main .start-btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 200px;
}

main .start-btn-wrapper .start-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  cursor: pointer;
}

main .start-btn-wrapper .start-btn:hover {
  background: silver;
}

main .start-btn-wrapper .start-btn img {
  width: 50px;
  height: 50px;
}

main .start-btn-wrapper .start-btn span {
  text-align: center;
}

footer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

footer .footer-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffa45c;
}

footer .footer-text {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 10px;
  line-height: 22px;
  user-select: none;
  color: #332112;
  transform: translate(-50%);
}

footer #notification-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
}

footer #notification-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

footer #notification-btn img {
  width: 16px;
  height: 16px;
}
