.footer-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: $main-color;
}

.footer-text {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 10px;
    line-height: $footer-height;
    user-select: none;
    color: $dark-color;
}

#notification-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $footer-height;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    &:hover {
        background: rgba(255, 255, 255, 0.2);
        opacity: 1;
    }
    img {
        width: 16px;
        height: 16px;
    }
}
