@import "./animation";

$header-height: 30px;
$footer-height: 22px;

body {
    display: grid;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: magenta;
    @import "./header";
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    @import "./appStartContent";
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background: orange;
    @import "./footer";
}

